@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

figure {
  margin: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin-bottom: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.btn {
  padding: 0;
  border-radius: 0;
  border: 0;
  background: none;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container {
  max-width: 100% !important;
  padding: 0 10px !important; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }

.customer .page-header {
  background-image: url(/mobile/assets/images/customer/bg_page_header.jpg); }

.sub-title {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  padding-left: 10px;
  margin-bottom: 20px;
  line-height: 16px;
  font-family: 'Maven Pro', sans-serif;
  border-left: 2px solid #4a90e2; }

.download .section-content .down-list {
  margin-top: 30px; }
  .download .section-content .down-list .table-responsive .table {
    font-family: 'Maven Pro', sans-serif; }
    .download .section-content .down-list .table-responsive .table caption {
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 1px;
      padding: 0 10px;
      line-height: 40px;
      caption-side: top;
      background-color: #0c3c8e; }
    .download .section-content .down-list .table-responsive .table thead tr th {
      font-size: 13px;
      font-weight: 500;
      border: 0;
      border-bottom: 1px solid #292929;
      background: none; }
    .download .section-content .down-list .table-responsive .table tbody tr td {
      font-size: 13px;
      color: #666;
      font-weight: 400;
      border: 0;
      border-bottom: 1px solid #d6d6d6; }
      .download .section-content .down-list .table-responsive .table tbody tr td a img {
        width: 16px; }
    .download .section-content .down-list .table-responsive .table tbody tr:last-child td {
      border-bottom: 1px solid #292929; }
.download .section-content .software-list {
  margin-top: 30px; }
  .download .section-content .software-list .accordion .card {
    border: 0;
    border-radius: 0; }
    .download .section-content .software-list .accordion .card ~ .card {
      margin-top: 10px; }
    .download .section-content .software-list .accordion .card .card-header {
      padding: 0;
      background: none;
      border: 0; }
      .download .section-content .software-list .accordion .card .card-header .btn {
        font-size: 13px;
        color: #fff;
        width: 100%;
        padding: 0 10px;
        line-height: 38px;
        font-family: 'Maven Pro', sans-serif;
        text-align: left;
        font-weight: 500;
        text-decoration: none !important;
        background-color: #0c3c8e;
        border: 1px solid #0c3c8e; }
        .download .section-content .software-list .accordion .card .card-header .btn:after {
          font-family: "fontello";
          float: right;
          content: "\E805"; }
        .download .section-content .software-list .accordion .card .card-header .btn.collapsed {
          color: #333;
          border: 1px solid #ccc;
          background-color: #fff; }
          .download .section-content .software-list .accordion .card .card-header .btn.collapsed:after {
            content: "\E804"; }
    .download .section-content .software-list .accordion .card .card-body {
      padding: 0; }
      .download .section-content .software-list .accordion .card .card-body .table-wrap .table {
        border: 0;
        margin: 0; }
        .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td {
          padding: 15px 10px;
          font-size: 13px;
          color: #666;
          font-weight: 400;
          vertical-align: middle;
          text-align: left;
          font-family: 'Maven Pro', sans-serif;
          border: 0;
          border-bottom: 1px solid #d6d6d6; }
          .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td > a:first-child {
            float: left; }
            .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td > a:first-child:before {
              font-family: "fontello";
              content: "\E801";
              color: #4a90e2;
              margin-right: 5px; }
          .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td > a:last-child {
            float: right; }
            .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td > a:last-child img {
              width: 14px; }

.qna-list .section-content .search-form .form-group {
  padding-left: 0; }
.qna-list .section-content .default-board {
  margin-top: 30px; }
  .qna-list .section-content .default-board ul li a dl dd .success {
    display: inline-block;
    font-weight: 300;
    padding: 0 10px;
    color: #fff;
    background-color: #ccc; }
  .qna-list .section-content .default-board ul li a dl dd .waiting {
    display: inline-block;
    padding: 0 10px;
    font-weight: 300;
    color: #333;
    border: 1px solid #ccc; }
.qna-list .section-content .btn-area {
  text-align: center;
  margin-top: 30px; }
.qna-list .section-content .paging {
  margin-top: 25px; }

.qna-view .section-content .board-view .reply {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 15px 40px;
  border: 1px solid #dfdfdf;
  background-color: #fafafc; }
  .qna-view .section-content .board-view .reply h5 {
    position: relative;
    font-size: 12px;
    color: #df0603;
    display: inline-block;
    font-weight: 400; }
  .qna-view .section-content .board-view .reply p {
    font-size: 11px;
    color: #666;
    margin-top: 20px;
    font-weight: 300;
    line-height: 16px;
    word-break: keep-all; }
.qna-view .section-content .btn-area {
  margin-top: 30px; }
.qna-view .section-content .pagelink {
  margin-top: 35px; }

.qna-write .section-content .table-wrap .table tbody tr td .form-group .form-control, .request-wirte .section-content .table-wrap .table tbody tr td .form-group .form-control {
  padding: 3px 5px; }
.qna-write .section-content .table-wrap .table tbody tr td .form-group textarea, .request-wirte .section-content .table-wrap .table tbody tr td .form-group textarea {
  height: 160px !important; }
.qna-write .section-content .table-wrap .btn-area, .request-wirte .section-content .table-wrap .btn-area {
  margin-top: 30px; }
.qna-write .section-content .privacy, .request-wirte .section-content .privacy {
  margin-top: 30px; }
  .qna-write .section-content .privacy h3, .request-wirte .section-content .privacy h3 {
    font-size: 15px;
    color: #333;
    margin-bottom: 20px; }
  .qna-write .section-content .privacy > div, .request-wirte .section-content .privacy > div {
    width: 100%;
    color: #333;
    padding: 30px 10px;
    height: 150px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    background-color: #efefef;
    /*h3 {
        font-size: 15px;
        color: #333;
        margin-bottom: 20px;
    }*/ }
    .qna-write .section-content .privacy > div .privacy-content, .request-wirte .section-content .privacy > div .privacy-content {
      color: #666;
      font-weight: 300;
      line-height: 18px; }
  .qna-write .section-content .privacy label, .request-wirte .section-content .privacy label {
    margin-top: 20px;
    font-size: 13px;
    color: #333;
    font-weight: 400; }
    .qna-write .section-content .privacy label input, .request-wirte .section-content .privacy label input {
      margin-right: 5px;
      position: relative;
      top: 2px; }

.faq-list .section-content .search-area .search-guide {
  padding: 25px 15px;
  border: 4px solid #646464; }
  .faq-list .section-content .search-area .search-guide strong {
    font-weight: 500;
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 20px; }
  .faq-list .section-content .search-area .search-guide p {
    font-size: 13px;
    color: #666;
    font-weight: 300;
    line-height: 18px;
    word-break: keep-all; }
.faq-list .section-content .search-area .search-form {
  margin: 20px 0;
  padding: 0;
  background: none; }
  .faq-list .section-content .search-area .search-form .form-group {
    padding-left: 0; }
    .faq-list .section-content .search-area .search-form .form-group .default-search {
      background-color: #646464; }
.faq-list .section-content .tab-menu {
  text-align: center; }
  .faq-list .section-content .tab-menu > ul {
    display: inline-block;
    width: 100%;
    overflow: hidden; }
    .faq-list .section-content .tab-menu > ul > li {
      float: left;
      width: 33.33%; }
      .faq-list .section-content .tab-menu > ul > li > a {
        font-size: 14px;
        color: #999;
        font-weight: 400;
        line-height: 50px;
        display: block;
        border: 1px solid #d8d8d8;
        border-bottom: 0;
        border-left: 0;
        background-color: #fbfbfd; }
      .faq-list .section-content .tab-menu > ul > li:nth-of-type(3) ~ li > a {
        border-bottom: 1px solid #d8d8d8; }
      .faq-list .section-content .tab-menu > ul > li:nth-of-type(3n + 1) > a {
        border-left: 1px solid #d8d8d8; }
      .faq-list .section-content .tab-menu > ul > li.active a {
        color: #fff;
        border-color: #4a90e2;
        background-color: #4a90e2; }
.faq-list .section-content .faq-board {
  margin-top: 30px; }
.faq-list .section-content .paging {
  margin-top: 30px; }

.request-list .section-content .search-form .form-group {
  padding-left: 0; }
.request-list .section-content .default-board {
  margin-top: 30px; }
  .request-list .section-content .default-board ul li a dl dd .success {
    display: inline-block;
    font-weight: 300;
    padding: 0 10px;
    color: #fff;
    background-color: #ccc; }
  .request-list .section-content .default-board ul li a dl dd .waiting {
    display: inline-block;
    padding: 0 10px;
    font-weight: 300;
    color: #333;
    border: 1px solid #ccc; }
.request-list .section-content .btn-area {
  margin-top: 25px; }
.request-list .section-content .paging {
  margin-top: 25px; }

.agency .section-content figure {
  border: 1px solid #d6d6d6; }
  .agency .section-content figure .img-fluid {
    width: 100%; }
.agency .section-content .table-responsive {
  margin-top: 30px; }

.pw-confirm .section-header p {
  font-size: 13px;
  color: #2b2b2b;
  line-height: 18px;
  margin-top: 20px;
  font-weight: 300; }
.pw-confirm .section-content .form-group {
  width: 100%; }
  .pw-confirm .section-content .form-group .form-control {
    width: 100%;
    height: 55px;
    border: 1px solid #dfdfdf; }
  .pw-confirm .section-content .form-group .btn-lg {
    height: 55px;
    font-size: 13px;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    line-height: 55px;
    background-color: #0c3c8e; }

#details-popup .modal-dialog {
  max-width: 700px;
  margin-top: 120px;
  margin-bottom: 200px; }
  #details-popup .modal-dialog .modal-content {
    border: 0;
    border-radius: 0;
    background: none; }
    #details-popup .modal-dialog .modal-content .modal-head {
      overflow: hidden;
      padding-bottom: 10px; }
      #details-popup .modal-dialog .modal-content .modal-head .btn-close {
        outline: none;
        border: 0;
        float: right;
        opacity: 1 !important; }
    #details-popup .modal-dialog .modal-content .modal-body {
      padding: 30px 15px;
      background-color: #fff; }

.technical-terms .section-content > ul {
  border-top: 2px solid #164492; }
  .technical-terms .section-content > ul > li {
    padding: 20px 10px;
    border-bottom: 1px solid #ddd; }
    .technical-terms .section-content > ul > li h4 {
      font-size: 15px;
      color: #333;
      font-family: 'Maven Pro', sans-serif;
      letter-spacing: 1px; }
    .technical-terms .section-content > ul > li p {
      margin-top: 15px;
      font-size: 12px;
      color: #999;
      word-break: keep-all;
      font-family: 'Maven Pro', sans-serif;
      font-weight: 400;
      line-height: 22px; }

.spelling-tab {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  .spelling-tab .accordion .card {
    border: 0; }
    .spelling-tab .accordion .card .card-header {
      padding: 0;
      border: 0; }
      .spelling-tab .accordion .card .card-header .btn-link {
        position: relative;
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        padding: 0 10px;
        line-height: 40px;
        text-align: left;
        color: #fff;
        text-decoration: none;
        background-color: #0c3c8e; }
        .spelling-tab .accordion .card .card-header .btn-link.collapsed:after {
          content: "\E804"; }
        .spelling-tab .accordion .card .card-header .btn-link:after {
          float: right;
          content: "\E805";
          font-family: "fontello"; }
    .spelling-tab .accordion .card .card-body {
      padding: 20px 14px 15px;
      background-color: #f5f5f5; }
      .spelling-tab .accordion .card .card-body ul {
        font-size: 0; }
        .spelling-tab .accordion .card .card-body ul li {
          display: inline-block;
          margin: 0 3px 5px; }
          .spelling-tab .accordion .card .card-body ul li > a {
            width: 35px;
            height: 35px;
            display: block;
            text-align: center;
            line-height: 33px;
            font-size: 13px;
            color: #666;
            background-color: #fff;
            border: 1px solid #e3e3e3; }
          .spelling-tab .accordion .card .card-body ul li:last-child > a {
            width: 76px; }

.position-space {
  padding-bottom: 40px; }

.solution .section-content .solution-tabs ul {
  overflow: hidden; }
  .solution .section-content .solution-tabs ul li {
    float: left;
    width: 32%;
    margin-right: 2%; }
    .solution .section-content .solution-tabs ul li:nth-of-type(3n + 3) {
      margin-right: 0; }
    .solution .section-content .solution-tabs ul li:nth-of-type(3) ~ li {
      margin-top: 2%; }
    .solution .section-content .solution-tabs ul li a {
      display: block;
      width: 100%;
      font-size: 12px;
      color: #333;
      line-height: 40px;
      border-radius: 30px;
      text-align: center;
      background-color: #e5e5e5; }
    .solution .section-content .solution-tabs ul li.active a {
      color: #fff;
      background-color: #4a90e2; }
.solution .section-content .solution-list {
  margin-top: 35px; }
  .solution .section-content .solution-list > li {
    border: 1px solid #dfdfdf; }
    .solution .section-content .solution-list > li ~ li {
      margin-top: 10px; }
    .solution .section-content .solution-list > li figure .img-fluid {
      display: block;
      margin: 0 auto; }
    .solution .section-content .solution-list > li figure figcaption {
      text-align: center;
      padding: 15px 30px 30px; }
      .solution .section-content .solution-list > li figure figcaption h4 {
        font-size: 16px;
        color: #4a90e2;
        font-weight: bold;
        letter-spacing: .5px;
        font-family: 'Maven Pro', sans-serif;
        margin-bottom: 20px; }
      .solution .section-content .solution-list > li figure figcaption p {
        font-size: 12px;
        color: #666;
        font-weight: 300;
        line-height: 18px;
        word-break: keep-all; }

/*# sourceMappingURL=customer.css.map */
