@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

figure {
  margin: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin-bottom: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.btn {
  padding: 0;
  border-radius: 0;
  border: 0;
  background: none;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container {
  max-width: 100% !important;
  padding: 0 10px !important; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }

.product .page-header {
  background-image: url(/mobile/assets/images/product/bg_page_header.jpg); }

.product-list .section-content .product-info figure {
  padding: 0 8%; }
  .product-list .section-content .product-info figure .img-fluid {
    width: 100%;
    display: block; }
.product-list .section-content .product-info .details {
  margin-top: 40px; }
  .product-list .section-content .product-info .details p {
    font-size: 15px;
    line-height: 22px;
    color: #333;
    font-weight: 400;
    word-break: keep-all; }
    .product-list .section-content .product-info .details p strong {
      color: #4a90e2; }
  .product-list .section-content .product-info .details .dott-list {
    margin-top: 30px; }
    .product-list .section-content .product-info .details .dott-list > li ~ li {
      margin-top: 20px; }
    .product-list .section-content .product-info .details .dott-list > li > dl {
      position: relative;
      font-size: 0;
      font-size: 12px;
      color: #999;
      padding-left: 10px; }
      .product-list .section-content .product-info .details .dott-list > li > dl dt {
        display: inline;
        font-weight: 300;
        line-height: 20px; }
        .product-list .section-content .product-info .details .dott-list > li > dl dt:before {
          position: absolute;
          top: 1px;
          left: 0;
          content: "\E801";
          font-size: 10px;
          color: #999;
          font-family: "fontello"; }
        .product-list .section-content .product-info .details .dott-list > li > dl dt:after {
          position: relative;
          top: 0;
          content: " : ";
          display: inline; }
      .product-list .section-content .product-info .details .dott-list > li > dl dd {
        display: inline;
        font-weight: 300;
        line-height: 20px; }
.product-list.product-list01 .section-content .depth-list {
  margin-top: 50px; }
  .product-list.product-list01 .section-content .depth-list .article-content {
    margin-top: 25px; }
    .product-list.product-list01 .section-content .depth-list .article-content > ul > li {
      padding: 40px 10px 30px;
      border: 1px solid #dfdfdf; }
      .product-list.product-list01 .section-content .depth-list .article-content > ul > li ~ li {
        margin-top: 10px; }
      .product-list.product-list01 .section-content .depth-list .article-content > ul > li figure {
        padding: 0 5%; }
        .product-list.product-list01 .section-content .depth-list .article-content > ul > li figure .img-fluid {
          width: 100%; }
      .product-list.product-list01 .section-content .depth-list .article-content > ul > li .summary {
        margin-top: 40px;
        text-align: center; }
        .product-list.product-list01 .section-content .depth-list .article-content > ul > li .summary h4 {
          font-size: 16px;
          color: #333;
          font-weight: 600;
          font-family: 'Maven Pro', sans-serif;
          letter-spacing: 1px; }
        .product-list.product-list01 .section-content .depth-list .article-content > ul > li .summary p {
          font-size: 12px;
          color: #666;
          line-height: 18px;
          margin-top: 20px; }
        .product-list.product-list01 .section-content .depth-list .article-content > ul > li .summary .btn-area {
          margin-top: 25px; }
          .product-list.product-list01 .section-content .depth-list .article-content > ul > li .summary .btn-area .btn-lg {
            font-size: 12px;
            color: #fff;
            width: 100%;
            line-height: 36px;
            font-weight: 300;
            text-align: center; }
            .product-list.product-list01 .section-content .depth-list .article-content > ul > li .summary .btn-area .btn-lg.btn-blue {
              background-color: #4c91e2; }
.product-list.product-list02 .section-content .depth-list {
  margin-top: 50px; }
  .product-list.product-list02 .section-content .depth-list .article-content {
    padding-top: 20px; }
    .product-list.product-list02 .section-content .depth-list .article-content > ul > li {
      padding: 40px 10px;
      border-bottom: 1px solid #dfdfdf; }
      .product-list.product-list02 .section-content .depth-list .article-content > ul > li .product-item > a {
        display: block; }
        .product-list.product-list02 .section-content .depth-list .article-content > ul > li .product-item > a figure {
          padding: 0 5%; }
          .product-list.product-list02 .section-content .depth-list .article-content > ul > li .product-item > a figure .img-fluid {
            width: 100%; }
        .product-list.product-list02 .section-content .depth-list .article-content > ul > li .product-item > a .summary {
          margin-top: 25px;
          text-align: center; }
          .product-list.product-list02 .section-content .depth-list .article-content > ul > li .product-item > a .summary h4 {
            font-size: 16px;
            color: #0c3c8e;
            font-weight: 600;
            font-family: 'Maven Pro', sans-serif; }
          .product-list.product-list02 .section-content .depth-list .article-content > ul > li .product-item > a .summary p {
            font-size: 12px;
            color: #757575;
            line-height: 18px;
            margin-top: 10px; }
      .product-list.product-list02 .section-content .depth-list .article-content > ul > li .btn-area {
        margin-top: 25px;
        font-size: 0; }
        .product-list.product-list02 .section-content .depth-list .article-content > ul > li .btn-area .btn-md {
          font-size: 14px;
          color: #fff;
          width: 48%;
          line-height: 36px;
          font-weight: 300;
          text-align: center;
          margin-right: 4%; }
          .product-list.product-list02 .section-content .depth-list .article-content > ul > li .btn-area .btn-md:last-child {
            margin-right: 0; }
          .product-list.product-list02 .section-content .depth-list .article-content > ul > li .btn-area .btn-md:before {
            font-family: "fontello";
            margin-right: 10px; }
          .product-list.product-list02 .section-content .depth-list .article-content > ul > li .btn-area .btn-md.btn-blue {
            background-color: #4c91e2; }
            .product-list.product-list02 .section-content .depth-list .article-content > ul > li .btn-area .btn-md.btn-blue:before {
              content: "\E809"; }
          .product-list.product-list02 .section-content .depth-list .article-content > ul > li .btn-area .btn-md.btn-gray {
            background-color: #929292; }
            .product-list.product-list02 .section-content .depth-list .article-content > ul > li .btn-area .btn-md.btn-gray:before {
              content: "\E80E"; }

.product-view {
  padding-bottom: 55px; }
  .product-view .product-nav {
    height: 35px; }
    .product-view .product-nav .dropdown {
      float: left;
      width: 50%; }
      .product-view .product-nav .dropdown:first-child {
        border-right: 1px solid #ffff; }
  .product-view .product-details {
    padding-top: 40px;
    text-align: center; }
    .product-view .product-details h3 {
      font-size: 21px;
      color: #0c3c8e;
      font-weight: 500;
      font-family: 'Maven Pro', sans-serif; }
    .product-view .product-details p {
      display: none;
      font-size: 13px;
      color: #333;
      font-weight: 400;
      margin-top: 10px; }
    .product-view .product-details .article-content {
      margin-top: 35px; }
      .product-view .product-details .article-content > figure {
        margin-bottom: 20px;
        padding: 0 10%; }
        .product-view .product-details .article-content > figure .img-fluid {
          width: 100%; }
      .product-view .product-details .article-content .product-slide {
        margin: 0 -5px; }
        .product-view .product-details .article-content .product-slide li {
          margin: 0 5px; }
          .product-view .product-details .article-content .product-slide li a {
            display: block;
            border: 1px solid #dfdfdf; }
    .product-view .product-details .details {
      margin-top: 35px;
      text-align: left; }
      .product-view .product-details .details .dott-list > li {
        position: relative;
        padding-left: 15px;
        font-size: 12px;
        color: #757575;
        line-height: 18px; }
        .product-view .product-details .details .dott-list > li ~ li {
          margin-top: 20px; }
        .product-view .product-details .details .dott-list > li:before {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 20px;
          color: #0c3c8e;
          content: "\E801";
          font-family: "fontello"; }
        .product-view .product-details .details .dott-list > li > ul {
          margin-top: 15px; }
          .product-view .product-details .details .dott-list > li > ul > li > dl {
            font-size: 11px;
            color: #999; }
            .product-view .product-details .details .dott-list > li > ul > li > dl dt {
              display: inline-block;
              font-weight: 300;
              line-height: 20px; }
              .product-view .product-details .details .dott-list > li > ul > li > dl dt:before {
                content: "- "; }
              .product-view .product-details .details .dott-list > li > ul > li > dl dt:after {
                content: ":";
                margin: 0 2px; }
            .product-view .product-details .details .dott-list > li > ul > li > dl dd {
              display: inline-block;
              font-weight: 300;
              line-height: 20px; }
      .product-view .product-details .details .btn-area {
        margin-top: 55px; }
        .product-view .product-details .details .btn-area p {
          font-size: 0; }
          .product-view .product-details .details .btn-area p ~ p {
            margin-top: 10px; }
          .product-view .product-details .details .btn-area p .btn {
            height: 40px;
            line-height: 40px;
            color: #fff; }
            .product-view .product-details .details .btn-area p .btn:before {
              font-family: "fontello";
              margin-right: 10px; }
            .product-view .product-details .details .btn-area p .btn.btn-lg {
              font-size: 13px;
              width: 100%; }
            .product-view .product-details .details .btn-area p .btn.btn-md {
              font-size: 12px; }
            .product-view .product-details .details .btn-area p .btn.btn-gray {
              background-color: #929292; }
            .product-view .product-details .details .btn-area p .btn.btn-specifications:before {
              content: "\E80F"; }
            .product-view .product-details .details .btn-area p .btn.btn-down:before {
              content: "\E809"; }
            .product-view .product-details .details .btn-area p .btn.btn-estimate:before {
              content: "\E80E"; }
  .product-view .accessory {
    margin-top: 45px; }
    .product-view .accessory .article-header h4 {
      font-size: 16px;
      color: #333;
      font-weight: 400;
      margin-bottom: 20px;
      padding-left: 25px;
      background-image: url(/mobile/assets/images/investment/bg_sub_title.gif);
      background-repeat: no-repeat;
      background-size: 15px auto;
      background-position: 0 50%; }
    .product-view .accessory .article-content ul li a {
      display: block;
      border: 1px solid #dfdfdf; }
      .product-view .accessory .article-content ul li a .accessory-item {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 130px; }
        .product-view .accessory .article-content ul li a .accessory-item figure {
          display: table-cell;
          vertical-align: middle;
          padding: 0 5%; }
          .product-view .accessory .article-content ul li a .accessory-item figure .img-fluid {
            width: 100%; }
      .product-view .accessory .article-content ul li a .details {
        display: table;
        width: 100%;
        table-layout: fixed;
        text-align: center;
        border-top: 1px solid #dfdfdf; }
        .product-view .accessory .article-content ul li a .details > h5 {
          display: table-cell;
          height: 46px;
          width: 100%;
          line-height: 14px;
          font-size: 11px;
          color: #333;
          font-weight: 400;
          vertical-align: middle; }
    .product-view .accessory .article-content ul li:nth-of-type(2) ~ li a {
      margin-top: 10px; }
  .product-view .btn-prev {
    margin-top: 30px; }
    .product-view .btn-prev p > .btn-lg {
      width: 100%;
      font-size: 12px;
      color: #fff;
      line-height: 38px;
      text-align: center;
      background-color: #929292; }

.nav-tablist {
  margin-top: 55px; }
  .nav-tablist .nav-tabs {
    font-size: 0;
    border: 0; }
    .nav-tablist .nav-tabs li {
      display: block;
      border: 0;
      border-radius: 0; }
      .nav-tablist .nav-tabs li:first-child {
        width: 100%;
        margin-bottom: 10px; }
        .nav-tablist .nav-tabs li:first-child .btn {
          width: 100%; }
      .nav-tablist .nav-tabs li ~ li {
        float: left;
        width: 48%;
        margin-right: 4%; }
        .nav-tablist .nav-tabs li ~ li .btn {
          width: 100%;
          display: inline-block; }
      .nav-tablist .nav-tabs li:last-child {
        margin-right: 0; }
      .nav-tablist .nav-tabs li .btn {
        height: 40px;
        line-height: 40px;
        color: #fff;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: #929292; }
        .nav-tablist .nav-tabs li .btn:before {
          font-family: "fontello";
          margin-right: 10px; }
        .nav-tablist .nav-tabs li .btn.active {
          background-color: #4a90e2; }
        .nav-tablist .nav-tabs li .btn.btn-lg {
          font-size: 13px;
          width: 100%; }
        .nav-tablist .nav-tabs li .btn.btn-md {
          font-size: 12px; }
        .nav-tablist .nav-tabs li .btn.btn-specifications:before {
          content: "\E80F"; }
        .nav-tablist .nav-tabs li .btn.btn-down:before {
          content: "\E809"; }
        .nav-tablist .nav-tabs li .btn.btn-estimate:before {
          content: "\E80E"; }

.tab-content {
  margin-top: 40px; }
  .tab-content .tab-pane > h3 {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 25px;
    background-image: url(/mobile/assets/images/investment/bg_sub_title.gif);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: 0 50%; }
  .tab-content .tab-pane h4 {
    font-size: 13px;
    color: #0c3c8e;
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 10px; }
    .tab-content .tab-pane h4 ~ h4 {
      margin-top: 50px; }
    .tab-content .tab-pane h4 a {
      float: right;
      font-size: 12px;
      color: #666; }
      .tab-content .tab-pane h4 a:before {
        content: "+ "; }
  .tab-content .tab-pane .table-wrap {
    margin-top: 25px; }
    .tab-content .tab-pane .table-wrap .table {
      table-layout: fixed;
      margin: 0;
      border-top: 2px solid #0c3c8e; }
      .tab-content .tab-pane .table-wrap .table thead tr th {
        width: 50%;
        font-size: 12px;
        color: #333;
        font-weight: 400;
        text-align: center;
        padding: 15px 0;
        border: 1px solid #ccc;
        border-top: 0;
        border-left: 0;
        background-color: #f0f1f6; }
        .tab-content .tab-pane .table-wrap .table thead tr th:last-child {
          border-right: 0; }
      .tab-content .tab-pane .table-wrap .table tbody {
        font-family: 'Maven Pro', sans-serif; }
        .tab-content .tab-pane .table-wrap .table tbody tr td {
          font-size: 12px;
          color: #666;
          font-weight: 300;
          text-align: left;
          line-height: 18px;
          vertical-align: middle;
          padding: 15px 10px;
          border: 1px solid #ccc;
          border-top: 0;
          border-right: 0; }
          .tab-content .tab-pane .table-wrap .table tbody tr td:first-child {
            color: #333;
            font-weight: 500;
            border-left: 0; }
    .tab-content .tab-pane .table-wrap.type-2 {
      margin: 0; }
      .tab-content .tab-pane .table-wrap.type-2 tbody th {
        font-size: 12px;
        font-weight: 400;
        vertical-align: middle;
        background-color: #f0f1f6;
        width: 30%;
        border: 0;
        border-bottom: 1px solid #ccc; }
      .tab-content .tab-pane .table-wrap.type-2 tbody td {
        border-left: 0 !important; }
  .tab-content .tab-pane .table-responsive .table {
    font-family: 'Maven Pro', sans-serif; }
    .tab-content .tab-pane .table-responsive .table caption {
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 1px;
      padding: 0 10px;
      line-height: 40px;
      caption-side: top;
      background-color: #0c3c8e; }
    .tab-content .tab-pane .table-responsive .table thead tr th {
      font-size: 13px;
      font-weight: 500;
      border: 0;
      border-bottom: 1px solid #292929;
      background: none; }
    .tab-content .tab-pane .table-responsive .table tbody tr td {
      font-size: 13px;
      color: #666;
      font-weight: 400;
      border: 0;
      border-bottom: 1px solid #d6d6d6; }
      .tab-content .tab-pane .table-responsive .table tbody tr td a img {
        width: 16px; }
    .tab-content .tab-pane .table-responsive .table tbody tr:last-child td {
      border-bottom: 1px solid #292929; }

/*# sourceMappingURL=product.css.map */
