@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

body {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  min-width: 1200px; }

.container {
  max-width: 1200px !important; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container .row,
.container-fluid .row {
  overflow: hidden; }
  .container .row .col-1,
  .container-fluid .row .col-1 {
    float: left; }
  .container .row .col-2,
  .container-fluid .row .col-2 {
    float: left; }
  .container .row .col-3,
  .container-fluid .row .col-3 {
    float: left; }
  .container .row .col-4,
  .container-fluid .row .col-4 {
    float: left; }
  .container .row .col-5,
  .container-fluid .row .col-5 {
    float: left; }
  .container .row .col-6,
  .container-fluid .row .col-6 {
    float: left; }
  .container .row .col-7,
  .container-fluid .row .col-7 {
    float: left; }
  .container .row .col-8,
  .container-fluid .row .col-8 {
    float: left; }
  .container .row .col-9,
  .container-fluid .row .col-9 {
    float: left; }
  .container .row .col-10,
  .container-fluid .row .col-10 {
    float: left; }
  .container .row .col-11,
  .container-fluid .row .col-11 {
    float: left; }
  .container .row .col-12,
  .container-fluid .row .col-12 {
    float: left; }

.customer .page-header .bg-backdrop {
  background-image: url(/assets/images/customer/bg_page_header.jpg); }
.customer .lnb .lnb-list {
  width: 20%; }
.customer.space {
  padding-bottom: 150px; }

.qna-list .section-content .search-form .form-group {
  width: 660px;
  /*select {
  	&:first-child {
  		width: 175px;
  	}
  	&:nth-of-type(2) {
  		width: 125px;
  	}
  }*/ }
  .qna-list .section-content .search-form .form-group .form-control {
    width: 100%; }
.qna-list .section-content .table-wrap {
  margin-top: 65px; }
  .qna-list .section-content .table-wrap .type-2 tbody tr .num {
    text-align: left;
    padding-left: 30px; }
  .qna-list .section-content .table-wrap .type-2 tbody tr .subject.reply {
    background: none;
    background-image: url(/assets/images/customer/icon_reply.jpg);
    background-repeat: no-repeat;
    background-position: 25px 48%; }
    .qna-list .section-content .table-wrap .type-2 tbody tr .subject.reply > a {
      padding-left: 25px; }
      .qna-list .section-content .table-wrap .type-2 tbody tr .subject.reply > a > span {
        display: inline-block;
        width: 36px;
        line-height: 22px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background-color: #4e92e2;
        margin-right: 15px; }
  .qna-list .section-content .table-wrap .type-2 tbody tr td .success {
    display: inline-block;
    font-weight: 300;
    padding: 5px 10px;
    color: #fff;
    background-color: #ccc; }
  .qna-list .section-content .table-wrap .type-2 tbody tr td .waiting {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 300;
    color: #333;
    border: 1px solid #ccc; }
.qna-list .section-content .btn-area {
  text-align: right;
  margin-top: 30px; }
.qna-list .section-content .paging {
  margin-top: 60px; }

.qna-view .section-content .view-content .board-view .view-body {
  line-height: normal;
  padding: 30px 30px 100px; }
  .qna-view .section-content .view-content .board-view .view-body > p {
    font-size: 14px;
    color: #666;
    line-height: 30px;
    font-weight: 300; }
.qna-view .section-content .view-content .board-view .reply {
  margin-top: 50px; }
.qna-view .section-content .view-content .btn-area {
  margin-top: 30px;
  overflow: hidden; }
  .qna-view .section-content .view-content .btn-area .btn {
    float: left; }
    .qna-view .section-content .view-content .btn-area .btn.btn-blue {
      float: right; }
.qna-view .section-content .view-content .page-link-area {
  margin-top: 80px; }

.qna-write .section-content .table-wrap .table-write tbody tr td .form-group select {
  width: 200px; }
.qna-write .section-content .table-wrap .table-write tbody tr td .form-group textarea {
  padding: 15px; }
.qna-write .section-content .btn-area {
  text-align: right;
  margin-top: 40px; }
.qna-write .section-content .privacy {
  margin-top: 40px; }
  .qna-write .section-content .privacy > div {
    height: 300px;
    overflow-y: scroll;
    padding: 30px 15px;
    border: 1px solid #ccc;
    background-color: #efefef; }
    .qna-write .section-content .privacy > div h3 {
      font-size: 18px;
      color: #333;
      margin-bottom: 20px; }
    .qna-write .section-content .privacy > div .privacy-content {
      font-size: 14px;
      color: #666;
      font-weight: 400;
      line-height: 18px; }
  .qna-write .section-content .privacy label {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    margin-top: 20px; }
    .qna-write .section-content .privacy label input {
      position: relative;
      top: 2px;
      margin-right: 5px; }

.faq-list .section-content .faq-content .article-header {
  padding: 60px 70px;
  border: 4px solid #646464; }
  .faq-list .section-content .faq-content .article-header h4 {
    font-size: 26px;
    color: #333;
    font-weight: 400; }
  .faq-list .section-content .faq-content .article-header p {
    font-size: 13px;
    color: #666;
    line-height: 24px;
    font-weight: 300;
    margin-top: 20px; }
  .faq-list .section-content .faq-content .article-header .form-group {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    /*padding-left: 175px;*/ }
    .faq-list .section-content .faq-content .article-header .form-group select {
      position: absolute;
      top: 0;
      left: 0;
      width: 165px; }
    .faq-list .section-content .faq-content .article-header .form-group input[type="text"] {
      width: 100%;
      padding-right: 50px; }
    .faq-list .section-content .faq-content .article-header .form-group .form-control {
      float: left;
      height: 45px;
      font-size: 14px;
      color: #999;
      border: 1px solid #e4e4e4;
      margin-right: 10px; }
      .faq-list .section-content .faq-content .article-header .form-group .form-control:last-child {
        margin-right: 0; }
    .faq-list .section-content .faq-content .article-header .form-group .btn-search-default {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 45px;
      text-align: center;
      color: #fff;
      line-height: 45px;
      background-color: #333;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .faq-list .section-content .faq-content .article-header .form-group .btn-search-default:hover {
        opacity: .7; }
.faq-list .section-content .faq-content .article-content {
  margin-top: 60px; }
  .faq-list .section-content .faq-content .article-content .faq-tab {
    margin-bottom: 60px; }
    .faq-list .section-content .faq-content .article-content .faq-tab > ul {
      display: table;
      width: 100%;
      table-layout: fixed; }
      .faq-list .section-content .faq-content .article-content .faq-tab > ul > li {
        display: table-cell;
        width: 16.66%;
        text-align: center;
        border: 1px solid #ccc;
        border-right: 0; }
        .faq-list .section-content .faq-content .article-content .faq-tab > ul > li:last-child {
          border-right: 1px solid #ccc; }
        .faq-list .section-content .faq-content .article-content .faq-tab > ul > li > a {
          display: block;
          font-size: 15px;
          color: #999;
          font-weight: 300;
          line-height: 50px;
          background-color: #fbfbfd;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .faq-list .section-content .faq-content .article-content .faq-tab > ul > li > a:hover {
            opacity: .7;
            color: #fff;
            background-color: #4a90e2; }
        .faq-list .section-content .faq-content .article-content .faq-tab > ul > li.active > a {
          color: #fff;
          background-color: #4a90e2; }
          .faq-list .section-content .faq-content .article-content .faq-tab > ul > li.active > a:hover {
            opacity: 1; }
  .faq-list .section-content .faq-content .article-content .accordion-list {
    border-top: 1px solid #333; }
    .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card {
      border: 0;
      border-radius: 0;
      background: none; }
      .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header {
        padding: 20px 25px;
        border-bottom: 1px solid #ccc;
        background-color: #fff; }
        .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link {
          position: relative;
          display: block;
          text-align: left;
          min-height: 45px;
          line-height: 45px;
          padding-left: 65px; }
          .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 45px;
            height: 45px;
            font-size: 12px;
            color: #fff;
            text-align: center;
            line-height: 46px;
            content: "\E800";
            font-family: "fontello";
            border-radius: 50%;
            background-color: #4c91e2;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link:after {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 18px;
            color: #4a90e2;
            content: "\F005";
            font-family: "fontello"; }
          .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link > dl {
            position: relative;
            display: inline-block;
            padding-left: 105px; }
            .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link > dl > dt {
              position: absolute;
              top: 50%;
              left: 0;
              font-size: 12px;
              font-weight: 400;
              color: #fff;
              text-align: center;
              width: 90px;
              margin-top: -14px;
              line-height: 28px;
              border-radius: 30px;
              background-color: #4c91e2;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link > dl > dd {
              font-size: 15px;
              font-weight: 400;
              color: #4c91e2; }
          .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link > p {
            font-size: 15px;
            font-weight: 400;
            color: #4c91e2; }
          .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link.collapsed:after {
            color: #000;
            content: "\F004"; }
          .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link.collapsed:before {
            color: #000;
            background-color: #f4f4f4; }
          .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link.collapsed > dl > dt {
            color: #282828;
            background-color: #f4f4f4; }
          .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link.collapsed > dl > dd {
            font-weight: 300;
            color: #000; }
          .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-header .btn-link.collapsed > p {
            font-weight: 300;
            color: #000; }
      .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-body {
        position: relative;
        font-size: 15px;
        color: #666;
        font-weight: 300;
        line-height: 26px;
        padding: 30px 30px 100px 85px;
        border-bottom: 1px solid #ccc;
        background-color: #fcfcfd; }
        .faq-list .section-content .faq-content .article-content .accordion-list .accordion .card .card-body:before {
          position: absolute;
          top: 20px;
          left: 25px;
          width: 45px;
          height: 45px;
          display: block;
          content: "A";
          font-size: 18px;
          color: #fff;
          text-align: center;
          line-height: 45px;
          font-weight: 500;
          font-family: 'Maven Pro', sans-serif;
          border-radius: 50%;
          background-color: #353535; }
.faq-list .section-content .paging {
  margin: 90px 0 100px; }
.faq-list .section-content .attention-box {
  display: table;
  width: 100%;
  padding: 55px 65px 55px 165px;
  border: 1px solid #dfdfdf;
  background-color: #fafafc;
  background-image: url(/assets/images/customer/bg_attention_box.png);
  background-repeat: no-repeat;
  background-position: 60px 50%; }
  .faq-list .section-content .attention-box > p {
    display: table-cell;
    width: 770px;
    font-size: 13px;
    color: #666;
    font-weight: 300;
    line-height: 22px;
    vertical-align: middle; }
  .faq-list .section-content .attention-box > .btn-inquiry {
    text-align: right;
    display: table-cell;
    vertical-align: middle; }
    .faq-list .section-content .attention-box > .btn-inquiry .btn-white {
      display: inline-block;
      width: 170px;
      height: 50px;
      line-height: 48px;
      text-align: center;
      font-size: 15px;
      color: #333;
      border: 1px solid #aaa;
      background-color: #fff;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .faq-list .section-content .attention-box > .btn-inquiry .btn-white:hover {
        opacity: .7; }

.download .section-content .search-form .form-group {
  width: 750px; }
  .download .section-content .search-form .form-group label {
    margin-right: 50px;
    font-size: 16px;
    color: #333;
    font-family: 'Maven Pro', sans-serif; }
    .download .section-content .search-form .form-group label:first-child {
      margin-left: 0; }
    .download .section-content .search-form .form-group label input {
      position: relative;
      top: 1px;
      margin-right: 10px; }
  .download .section-content .search-form .form-group input {
    width: auto; }
    .download .section-content .search-form .form-group input.form-control {
      width: 335px;
      padding-right: 65px; }
  .download .section-content .search-form .form-group select {
    width: 127px; }
  .download .section-content .search-form .form-group .form-control {
    float: none;
    display: inline-block; }
.download .section-content .down-list {
  margin-top: 70px; }
  .download .section-content .down-list > h4 {
    font-size: 20px;
    color: #333;
    line-height: 20px;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: -1px;
    padding-left: 10px;
    border-left: 2px solid #4a90e2; }
  .download .section-content .down-list .table-wrap {
    margin-top: 30px; }
    .download .section-content .down-list .table-wrap .table {
      width: 100%;
      /*border: 0;*/
      text-align: center;
      font-family: 'Maven Pro', sans-serif; }
      .download .section-content .down-list .table-wrap .table caption {
        width: 100%;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        line-height: 56px;
        padding: 0 15px;
        caption-side: top;
        background-color: #0c3c8e; }
      .download .section-content .down-list .table-wrap .table thead tr th {
        font-size: 14px;
        color: #333;
        font-weight: 400;
        padding: 20px 0;
        border-bottom: 1px solid #292929;
        background: none; }
      .download .section-content .down-list .table-wrap .table tbody tr td {
        font-size: 13px;
        color: #666;
        font-weight: 400;
        padding: 20px 0;
        vertical-align: middle;
        border-bottom: 1px solid #d6d6d6; }
        .download .section-content .down-list .table-wrap .table tbody tr td a {
          padding: 0;
          display: inline-block; }
          .download .section-content .down-list .table-wrap .table tbody tr td a img {
            width: 22px;
            height: auto; }
.download .section-content .software-list {
  margin-top: 70px; }
  .download .section-content .software-list .accordion .card {
    border: 0;
    border-radius: 0; }
    .download .section-content .software-list .accordion .card ~ .card {
      margin-top: 30px; }
    .download .section-content .software-list .accordion .card .card-header {
      padding: 0;
      border: 0;
      background: none; }
      .download .section-content .software-list .accordion .card .card-header .btn-link {
        width: 100%;
        text-align: left;
        font-size: 15px;
        color: #fff;
        line-height: 52px;
        padding: 0 20px;
        font-weight: 600;
        font-family: 'Maven Pro', sans-serif;
        border: 1px solid #0c3c8e;
        background-color: #0c3c8e; }
        .download .section-content .software-list .accordion .card .card-header .btn-link:after {
          float: right;
          content: "\F005";
          font-family: "fontello"; }
        .download .section-content .software-list .accordion .card .card-header .btn-link.collapsed {
          color: #333;
          border-color: #ccc;
          background: none; }
          .download .section-content .software-list .accordion .card .card-header .btn-link.collapsed:after {
            content: "\F004"; }
    .download .section-content .software-list .accordion .card .card-body {
      padding: 0; }
      .download .section-content .software-list .accordion .card .card-body .table-wrap .table {
        border: 0; }
        .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td {
          font-size: 13px;
          color: #666;
          text-align: left;
          vertical-align: middle;
          font-family: 'Maven Pro', sans-serif;
          padding: 17px 40px 17px 15px; }
          .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td:first-child {
            border-right: 1px solid #dfdfdf; }
          .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td > a:first-child {
            float: left; }
            .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td > a:first-child:before {
              color: #4a90e2;
              content: "\E801";
              font-family: "fontello";
              margin-right: 10px; }
          .download .section-content .software-list .accordion .card .card-body .table-wrap .table tbody tr td > a:last-child {
            float: right; }
.download .section-content .paging {
  margin-top: 60px; }

.request-list .section-content .search-form .form-group {
  width: 480px;
  /*select {
  	width: 130px;
  }*/ }
  .request-list .section-content .search-form .form-group .form-control {
    width: 100%; }
.request-list .section-content .table-wrap {
  margin-top: 65px; }
  .request-list .section-content .table-wrap .type-2 tbody tr .num {
    text-align: left;
    padding-left: 30px; }
  .request-list .section-content .table-wrap .type-2 tbody tr .subject.reply {
    background: none;
    background-image: url(/assets/images/customer/icon_reply.jpg);
    background-repeat: no-repeat;
    background-position: 25px 48%; }
    .request-list .section-content .table-wrap .type-2 tbody tr .subject.reply > a {
      padding-left: 25px; }
      .request-list .section-content .table-wrap .type-2 tbody tr .subject.reply > a > span {
        display: inline-block;
        width: 36px;
        line-height: 22px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background-color: #4e92e2;
        margin-right: 15px; }
  .request-list .section-content .table-wrap .type-2 tbody tr td .success {
    display: inline-block;
    font-weight: 300;
    padding: 5px 10px;
    color: #fff;
    background-color: #ccc; }
  .request-list .section-content .table-wrap .type-2 tbody tr td .waiting {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 300;
    color: #333;
    border: 1px solid #ccc; }
.request-list .section-content .btn-area {
  text-align: right;
  margin-top: 30px; }
.request-list .section-content .paging {
  margin-top: 60px; }

.request-view .section-content .reply {
  margin-top: 40px; }
.request-view .section-content .btn-area {
  margin-top: 30px;
  overflow: hidden; }
  .request-view .section-content .btn-area .btn {
    float: left; }
    .request-view .section-content .btn-area .btn.btn-blue {
      float: right; }

.request-write .section-content .table-wrap .table-write tbody tr td .form-group select {
  width: 200px; }
.request-write .section-content .table-wrap .table-write tbody tr td .form-group textarea {
  padding: 15px; }
.request-write .section-content .btn-area {
  text-align: right;
  margin-top: 40px; }
.request-write .section-content .privacy {
  margin-top: 40px; }
  .request-write .section-content .privacy > div {
    height: 300px;
    overflow-y: scroll;
    padding: 30px 15px;
    border: 1px solid #ccc;
    background-color: #efefef; }
    .request-write .section-content .privacy > div h3 {
      font-size: 18px;
      color: #333;
      margin-bottom: 20px; }
    .request-write .section-content .privacy > div .privacy-content {
      font-size: 14px;
      color: #666;
      font-weight: 400;
      line-height: 18px; }
  .request-write .section-content .privacy label {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    margin-top: 20px; }
    .request-write .section-content .privacy label input {
      position: relative;
      top: 2px;
      margin-right: 5px; }

.agency .section-content {
  overflow: hidden; }
  .agency .section-content > figure {
    float: left;
    border: 1px solid #d6d6d6; }
  .agency .section-content .table-wrap {
    float: left;
    margin-left: 20px; }
    .agency .section-content .table-wrap .table {
      width: 685px;
      border-top: 3px solid #0c3c8e; }
      .agency .section-content .table-wrap .table tbody tr > th {
        padding: 14px 0; }
      .agency .section-content .table-wrap .table tbody tr > td {
        padding: 14px 0; }
        .agency .section-content .table-wrap .table tbody tr > td a {
          text-align: center; }

.pw-confirm .section-header {
  padding: 120px 0 60px; }
  .pw-confirm .section-header p {
    font-size: 16px;
    color: #2b2b2b;
    font-weight: 400;
    margin-top: 30px; }
.pw-confirm .section-content .form-group {
  width: 360px;
  display: block;
  margin: 0 auto; }
  .pw-confirm .section-content .form-group .form-control {
    height: 55px;
    width: 100%;
    border-color: #e0e0e0; }
.pw-confirm .section-content .btn-lg {
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 55px;
  margin-top: 20px;
  background-color: #0c3c8e; }

#details-popup .modal-dialog {
  max-width: 700px;
  margin-top: 120px;
  margin-bottom: 200px; }
  #details-popup .modal-dialog .modal-content {
    border: 0;
    border-radius: 0;
    background: none; }
    #details-popup .modal-dialog .modal-content .modal-head {
      overflow: hidden;
      padding-bottom: 10px; }
      #details-popup .modal-dialog .modal-content .modal-head .btn-close {
        outline: none;
        border: 0;
        float: right;
        opacity: 1 !important; }
    #details-popup .modal-dialog .modal-content .modal-body {
      padding: 30px 15px;
      background-color: #fff; }

.technical-terms .section-header p {
  font-size: 18px;
  color: #282828;
  line-height: 30px;
  font-weight: 400;
  margin-top: 45px; }
.technical-terms .section-content .spelling-tab {
  padding: 30px;
  background-color: #f5f5f5; }
  .technical-terms .section-content .spelling-tab ol {
    overflow: hidden; }
    .technical-terms .section-content .spelling-tab ol li {
      float: left;
      margin-right: 5px; }
      .technical-terms .section-content .spelling-tab ol li:last-child {
        margin-right: 0; }
      .technical-terms .section-content .spelling-tab ol li a {
        width: 34px;
        height: 34px;
        line-height: 32px;
        display: block;
        font-size: 14px;
        text-align: center;
        color: #666;
        border: 1px solid #e3e3e3;
        background-color: #fff;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .technical-terms .section-content .spelling-tab ol li a:hover {
          opacity: .7;
          color: #fff;
          border-color: #4a90e2;
          background-color: #4a90e2; }
      .technical-terms .section-content .spelling-tab ol li.active a {
        color: #fff;
        border-color: #4a90e2;
        background-color: #4a90e2; }
    .technical-terms .section-content .spelling-tab ol ~ ol {
      margin-top: 10px; }
    .technical-terms .section-content .spelling-tab ol.kor li:last-child a {
      width: 68px; }
.technical-terms .section-content .table-wrap {
  margin-top: 60px; }
  .technical-terms .section-content .table-wrap .table {
    border: 0;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    table-layout: fixed; }
    .technical-terms .section-content .table-wrap .table tbody tr th {
      font-weight: 400;
      font-size: 15px;
      width: 270px;
      vertical-align: middle;
      padding-left: 30px;
      font-family: 'Maven Pro', sans-serif;
      border-bottom: 1px solid #d6d6d6;
      background-color: #fafafc; }
    .technical-terms .section-content .table-wrap .table tbody tr td {
      text-align: left;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      word-break: keep-all;
      font-weight: 400;
      padding: 30px;
      font-family: 'Maven Pro', sans-serif;
      vertical-align: middle;
      border-bottom: 1px solid #d6d6d6; }
    .technical-terms .section-content .table-wrap .table tbody tr:last-child th, .technical-terms .section-content .table-wrap .table tbody tr:last-child td {
      border-bottom: 0; }

.solution.space .section-content {
  padding-bottom: 200px; }
.solution .section-header p {
  font-size: 18px;
  color: #282828;
  line-height: 30px;
  font-weight: 400;
  margin-top: 45px; }
.solution .section-content .solution-tabs > ul {
  overflow: hidden; }
  .solution .section-content .solution-tabs > ul > li {
    float: left; }
    .solution .section-content .solution-tabs > ul > li ~ li {
      margin-left: 15px; }
    .solution .section-content .solution-tabs > ul > li > a {
      width: 154px;
      height: 56px;
      font-size: 16px;
      color: #333;
      display: block;
      line-height: 56px;
      border-radius: 30px;
      text-align: center;
      background-color: #e5e5e5;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .solution .section-content .solution-tabs > ul > li.active a {
      color: #fff;
      background-color: #4a90e2; }
    .solution .section-content .solution-tabs > ul > li:hover a {
      opacity: .7;
      color: #fff;
      background-color: #4a90e2; }
.solution .section-content .solution-list {
  margin-top: 40px; }
  .solution .section-content .solution-list > ul > li:nth-of-type(2) ~ li .solution-products {
    margin-top: 30px; }
  .solution .section-content .solution-list > ul > li .solution-products {
    position: relative;
    display: table;
    width: 100%;
    height: 320px;
    table-layout: fixed;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .solution .section-content .solution-list > ul > li .solution-products:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: " ";
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      border: 1px solid #dfdfdf; }
    .solution .section-content .solution-list > ul > li .solution-products:hover {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18); }
      .solution .section-content .solution-list > ul > li .solution-products:hover:before {
        border: 3px solid #4a90e2; }
    .solution .section-content .solution-list > ul > li .solution-products .details {
      display: table-cell;
      width: 50%;
      padding: 35px 15px 0 40px;
      vertical-align: top; }
      .solution .section-content .solution-list > ul > li .solution-products .details small {
        display: block;
        font-size: 11px;
        color: #bbb;
        font-weight: 500;
        margin-bottom: 5px;
        font-family: 'Maven Pro', sans-serif; }
      .solution .section-content .solution-list > ul > li .solution-products .details h4 {
        position: relative;
        z-index: 1;
        font-size: 26px;
        font-weight: bold;
        font-family: 'Maven Pro', sans-serif;
        color: #4a90e2;
        letter-spacing: .5px;
        margin-bottom: 30px;
        white-space: nowrap; }
      .solution .section-content .solution-list > ul > li .solution-products .details p {
        font-size: 14px;
        color: #666;
        font-weight: 300;
        line-height: 24px;
        word-break: keep-all; }
    .solution .section-content .solution-list > ul > li .solution-products figure {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      padding: 0 15px; }
      .solution .section-content .solution-list > ul > li .solution-products figure img {
        display: block;
        margin: 0 auto; }
    .solution .section-content .solution-list > ul > li .solution-products.bonder {
      height: 270px; }
      .solution .section-content .solution-list > ul > li .solution-products.bonder .details {
        width: 65%; }
      .solution .section-content .solution-list > ul > li .solution-products.bonder figure {
        width: 35%; }
    .solution .section-content .solution-list > ul > li .solution-products.space-top {
      margin-top: 30px; }

/*# sourceMappingURL=customer.css.map */
