@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

body {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  min-width: 1200px; }

.container {
  max-width: 1200px !important; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container .row,
.container-fluid .row {
  overflow: hidden; }
  .container .row .col-1,
  .container-fluid .row .col-1 {
    float: left; }
  .container .row .col-2,
  .container-fluid .row .col-2 {
    float: left; }
  .container .row .col-3,
  .container-fluid .row .col-3 {
    float: left; }
  .container .row .col-4,
  .container-fluid .row .col-4 {
    float: left; }
  .container .row .col-5,
  .container-fluid .row .col-5 {
    float: left; }
  .container .row .col-6,
  .container-fluid .row .col-6 {
    float: left; }
  .container .row .col-7,
  .container-fluid .row .col-7 {
    float: left; }
  .container .row .col-8,
  .container-fluid .row .col-8 {
    float: left; }
  .container .row .col-9,
  .container-fluid .row .col-9 {
    float: left; }
  .container .row .col-10,
  .container-fluid .row .col-10 {
    float: left; }
  .container .row .col-11,
  .container-fluid .row .col-11 {
    float: left; }
  .container .row .col-12,
  .container-fluid .row .col-12 {
    float: left; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1200px;
  height: 85px;
  z-index: 101;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #header .logo {
    font-size: 0;
    margin-top: 18px; }
    #header .logo > a > img.default-img {
      display: block; }
    #header .logo > a > img.scroll-img {
      display: none; }
  #header .language {
    float: left;
    padding: 32px 0; }
    #header .language > li {
      display: inline-block;
      color: #fff; }
      #header .language > li:after {
        content: "\E801";
        font-family: "fontello";
        margin: 0 8px; }
      #header .language > li:last-child:after {
        content: "";
        margin: 0; }
      #header .language > li a {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Maven Pro', sans-serif; }
  #header .global-search {
    float: right;
    margin: 0 10px;
    padding: 18px 0 17px; }
    #header .global-search .form-group {
      position: relative; }
    #header .global-search .btn {
      position: relative;
      z-index: 1; }
      #header .global-search .btn.default-btn {
        display: block;
        width: 50px;
        height: 50px;
        font-size: 20px;
        color: #fff;
        line-height: 46px;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 5px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #header .global-search .btn.default-btn:hover {
          opacity: .8; }
      #header .global-search .btn.event-btn {
        position: absolute;
        top: -2px;
        right: 0;
        display: none;
        width: 55px;
        height: 55px;
        line-height: 55px;
        color: #fff;
        font-size: 23px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #header .global-search .btn.event-btn .icon-search {
          position: relative;
          top: -10px; }
        #header .global-search .btn.event-btn:hover {
          opacity: .7; }
    #header .global-search .search-word {
      margin-top: 30px;
      overflow: hidden; }
      #header .global-search .search-word > dt {
        float: left;
        width: 100px;
        font-size: 16px;
        color: #fff;
        line-height: 35px;
        font-weight: 400;
        clear: both; }
      #header .global-search .search-word > dd > ul {
        overflow: hidden; }
        #header .global-search .search-word > dd > ul > li {
          float: left;
          margin-right: 10px; }
          #header .global-search .search-word > dd > ul > li > a {
            display: block;
            width: 100px;
            height: 35px;
            font-size: 13px;
            color: #b4b4b4;
            line-height: 33px;
            border: 1px solid #b4b4b4;
            text-align: center;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            #header .global-search .search-word > dd > ul > li > a:hover {
              color: #fff;
              border-color: #4a90e2;
              background-color: #4a90e2; }
          #header .global-search .search-word > dd > ul > li:last-child {
            margin-right: 0; }
    #header .global-search.show-search {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      display: table;
      width: 100%;
      height: 100%;
      padding-bottom: 10%; }
      #header .global-search.show-search .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 101;
        background-color: rgba(0, 0, 0, 0.9); }
      #header .global-search.show-search .align-box {
        display: table-cell;
        vertical-align: middle; }
        #header .global-search.show-search .align-box .form-group {
          position: relative;
          z-index: 102;
          width: 670px;
          display: block;
          margin: 0 auto; }
          #header .global-search.show-search .align-box .form-group .form-control {
            color: #fff;
            width: 100%;
            height: 55px;
            font-size: 25px;
            padding: 0;
            padding-right: 60px;
            padding-bottom: 20px;
            border: 2px solid transparent;
            border-bottom: 2px solid #fff;
            background-color: transparent; }
            #header .global-search.show-search .align-box .form-group .form-control::placeholder {
              color: #fff;
              font-weight: 300; }
            #header .global-search.show-search .align-box .form-group .form-control:-ms-input-placeholder {
              color: #fff;
              font-weight: 300; }
            #header .global-search.show-search .align-box .form-group .form-control::-ms-input-placeholder {
              color: #fff;
              font-weight: 300; }
        #header .global-search.show-search .align-box .btn.default-btn {
          display: none; }
        #header .global-search.show-search .align-box .btn.event-btn {
          display: block; }

.scrolled #header {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb; }
  .scrolled #header .logo > a > img.default-img {
    display: none; }
  .scrolled #header .logo > a > img.scroll-img {
    display: block; }
  .scrolled #header #gnb > ul > li > a {
    color: #333; }
  .scrolled #header .language > li {
    color: #999; }
  .scrolled #header .global-search .default-btn {
    color: #4a90e2;
    border-color: #4a90e2; }
.scrolled.nav-top #lnb {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff; }

#gnb {
  margin-right: 26px;
  margin-left: -15px; }
  #gnb > ul {
    display: block;
    float: right; }
    #gnb > ul > li {
      float: left; }
      #gnb > ul > li > a {
        display: block;
        font-size: 18px;
        color: #fff;
        line-height: 85px;
        padding: 0 26px; }
      #gnb > ul > li > div {
        position: fixed;
        top: 84px;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        display: block;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        background-color: #f7f7f8; }
        #gnb > ul > li > div .depth-2 {
          display: table;
          width: 1200px;
          margin: 0 auto;
          table-layout: fixed; }
          #gnb > ul > li > div .depth-2 > div {
            display: table-cell;
            vertical-align: top; }
            #gnb > ul > li > div .depth-2 > div.intro {
              padding: 35px 0;
              width: 240px;
              height: 100%;
              border-right: 1px solid #dfdfdf; }
              #gnb > ul > li > div .depth-2 > div.intro h2 {
                font-size: 40px;
                color: #0c3c8e;
                font-weight: bold; }
                #gnb > ul > li > div .depth-2 > div.intro h2 small {
                  display: block;
                  font-size: 13px;
                  color: #ccc;
                  font-weight: bold;
                  letter-spacing: 1px;
                  margin-bottom: 10px;
                  font-family: 'roboto', serif; }
              #gnb > ul > li > div .depth-2 > div.intro p {
                font-size: 16px;
                color: #333;
                font-weight: 300;
                line-height: 26px;
                margin-top: 30px; }
            #gnb > ul > li > div .depth-2 > div.page-map {
              position: relative;
              height: 100%;
              width: 960px; }
              #gnb > ul > li > div .depth-2 > div.page-map > ul {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 0;
                width: 100%;
                height: 100%; }
                #gnb > ul > li > div .depth-2 > div.page-map > ul > li {
                  display: inline-block;
                  width: 25%;
                  height: 225px;
                  vertical-align: top;
                  border-right: 1px solid #dfdfdf; }
                  #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div {
                    padding: 40px 30px; }
                    #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div:first-child {
                      padding-bottom: 0; }
                    #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div h3 {
                      font-size: 15px;
                      color: #333; }
                      #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div h3 a {
                        font-weight: bold;
                        -webkit-transition-property: all;
                        transition-property: all;
                        -webkit-transition-duration: 0.15s;
                        transition-duration: 0.15s;
                        -webkit-transition-timing-function: linear;
                        transition-timing-function: linear;
                        -webkit-transition-delay: 0s;
                        transition-delay: 0s; }
                        #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div h3 a span {
                          font-weight: 500;
                          font-family: 'roboto', serif; }
                    #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div > ul {
                      margin-top: 30px; }
                      #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div > ul > li > a {
                        position: relative;
                        display: inline-block;
                        font-family: 'roboto', serif;
                        font-weight: 400;
                        color: #999;
                        font-size: 13px;
                        margin-bottom: 10px;
                        -webkit-transition-property: all;
                        transition-property: all;
                        -webkit-transition-duration: 0.15s;
                        transition-duration: 0.15s;
                        -webkit-transition-timing-function: linear;
                        transition-timing-function: linear;
                        -webkit-transition-delay: 0s;
                        transition-delay: 0s; }
                        #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div > ul > li > a:before {
                          content: "- "; }
                        #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div > ul > li > a span {
                          position: absolute;
                          bottom: -2px;
                          left: 50%;
                          width: 0;
                          height: 1px;
                          display: block;
                          background-color: #4a90e2;
                          -webkit-transition-property: all;
                          transition-property: all;
                          -webkit-transition-duration: 0.15s;
                          transition-duration: 0.15s;
                          -webkit-transition-timing-function: linear;
                          transition-timing-function: linear;
                          -webkit-transition-delay: 0s;
                          transition-delay: 0s; }
                        #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div > ul > li > a:hover {
                          color: #4a90e2; }
                          #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div > ul > li > a:hover span {
                            width: 100%;
                            margin-left: -50%; }
                      #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div > ul > li:last-child > a {
                        margin-bottom: 0; }
                    #gnb > ul > li > div .depth-2 > div.page-map > ul > li > div:hover h3 {
                      color: #4a90e2; }
        #gnb > ul > li > div.product-info .depth-2 > .page-map > ul > li > div:first-child {
          height: 224px; }

.opened #header {
  background-color: #fff; }
  .opened #header .logo > a > img.default-img {
    display: none; }
  .opened #header .logo > a > img.scroll-img {
    display: block; }
  .opened #header #gnb > ul > li > a {
    color: #333; }
  .opened #header #gnb > ul > li.active > a {
    color: #4a90e2; }
  .opened #header #gnb > ul > li.active > div {
    height: 225px;
    border-top: 2px solid #4a90e2; }
    .opened #header #gnb > ul > li.active > div.product-info {
      height: 490px; }
      .opened #header #gnb > ul > li.active > div.product-info .intro {
        position: relative;
        height: 490px; }
        .opened #header #gnb > ul > li.active > div.product-info .intro .btn-area {
          position: absolute;
          bottom: 40px;
          left: 0; }
          .opened #header #gnb > ul > li.active > div.product-info .intro .btn-area .btn-blue {
            width: 186px;
            height: 40px;
            font-size: 14px;
            color: #4a90e2;
            text-align: center;
            line-height: 38px;
            border: 1px solid #4a90e2;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .opened #header #gnb > ul > li.active > div.product-info .intro .btn-area .btn-blue:hover {
              color: #fff;
              background-color: #4a90e2; }
      .opened #header #gnb > ul > li.active > div.product-info .depth-2 .page-map > ul > li {
        height: 490px; }
  .opened #header .language > li {
    color: #999; }
  .opened #header .global-search .default-btn {
    color: #4a90e2;
    border-color: #4a90e2; }

#footer {
  border-top: 3px solid #aaa;
  background-color: #fafafc; }
  #footer .foot-nav {
    padding: 20px 0;
    border-bottom: 1px solid #dfdfdf; }
    #footer .foot-nav ul {
      overflow: hidden; }
      #footer .foot-nav ul > li {
        float: left; }
        #footer .foot-nav ul > li a {
          display: inline-block;
          font-size: 14px;
          color: #666; }
        #footer .foot-nav ul > li:after {
          display: inline-block;
          margin: 0 15px;
          content: "\E801";
          font-family: "fontello"; }
        #footer .foot-nav ul > li:last-child:after {
          content: "";
          margin: 0; }
  #footer .company-info {
    padding: 45px 0; }
    #footer .company-info .information > ul {
      display: block;
      font-size: 0; }
      #footer .company-info .information > ul > li {
        display: inline-block;
        font-size: 13px;
        color: #666;
        font-weight: 300;
        line-height: 26px;
        vertical-align: top; }
        #footer .company-info .information > ul > li dl {
          display: inline-block; }
          #footer .company-info .information > ul > li dl dt {
            display: inline-block;
            font-weight: 300; }
            #footer .company-info .information > ul > li dl dt.bl-bold {
              font-weight: 500;
              color: #4a90e2; }
            #footer .company-info .information > ul > li dl dt:after {
              content: ":";
              color: #666;
              margin: 0 2px 0 5px; }
          #footer .company-info .information > ul > li dl dd {
            display: inline-block;
            font-weight: 300; }
        #footer .company-info .information > ul > li:after {
          position: relative;
          top: -2px;
          content: "|";
          font-size: 10px;
          margin: 0 10px; }
        #footer .company-info .information > ul > li:last-child:after {
          content: "";
          margin: 0; }
    #footer .company-info .copyright {
      text-align: right; }
      #footer .company-info .copyright .foot-logo {
        font-size: 0;
        margin-bottom: 25px; }
      #footer .company-info .copyright > p {
        font-size: 12px;
        color: #999;
        font-weight: 500;
        line-height: 18px;
        font-family: 'Maven Pro', sans-serif; }

/*# sourceMappingURL=default.css.map */
